<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="parenttrianglist" class="us.gopinath.Triangle" abstract="true">
		<property name="points" >
			<list>
				<ref bean="pointA"/>
			</list>
		</property>
	</bean>
	
	<bean id="trianglist" class="us.gopinath.Triangle" parent="parenttrianglist" abstract="true">
		<property name="points" >
			<list merge="true">
				<ref bean="pointA"/>
			</list>
		</property>
	</bean>
	
	
	<bean id="parenttriangle" class="us.gopinath.Triangle" >
		<property name="pointA" ref="pointA"></property>
	</bean>
	<bean id="triangle" class="us.gopinath.Triangle" parent="parenttriangle">
		<property name="pointB" ref="pointB"></property>
		<property name="pointC" ref="pointC"></property>
	</bean>

	<bean id="triangle1" class="us.gopinath.Triangle" parent="parenttriangle">
		<property name="pointB" ref="pointB"></property>
	</bean>


	<bean id="pointA" class="us.gopinath.Point">
		<property name="x" value="0"></property>
		<property name="y" value="0"></property>
	</bean>
	<bean id="pointB" class="us.gopinath.Point">
		<property name="x" value="-20"></property>
		<property name="y" value="0"></property>
	</bean>
	<bean id="pointC" class="us.gopinath.Point">
		<property name="x" value="20"></property>
		<property name="y" value="0"></property>
	</bean>
	
</beans>