<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-init-method="myInit" default-destroy-method="cleanUp">


	
	<bean id="triangle" class="us.gopinath.Triangle"  >
		<property name="pointA" ref="pointA"></property>
		<property name="pointB" ref="pointB"></property>
		<property name="pointC" ref="pointC"></property>
	</bean>
	
	

	


	<bean id="pointA" class="us.gopinath.Point">
		<property name="x" value="${pointA.pointX}"></property>
		<property name="y" value="${pointA.pointX}"></property>
	</bean>
	<bean id="pointB" class="us.gopinath.Point">
		<property name="x" value="-20"></property>
		<property name="y" value="0"></property>
	</bean>
	<bean id="pointC" class="us.gopinath.Point">
		<property name="x" value="20"></property>
		<property name="y" value="0"></property>
	</bean>
	
	<bean class="us.gopinath.DisplayNameBeanPostProcessor">
	
	</bean>
	<bean class="us.gopinath.MyBeanFactoryPostProcessor"></bean>
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="pointsconfig.properties"></property>
	</bean>

	

</beans>