<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

      
	<alias name="circle" alias="shape"/>
	<!-- 
	<bean id="triangle" class="us.gopinath.Triangle"  >
		<property name="pointA" ref="pointA"></property>
		<property name="pointB" ref="pointB"></property>
		<property name="pointC" ref="pointC"></property>
	</bean>
	 -->
	
	<!-- 
	<bean id="circle" class="us.gopinath.Circle"  >
	</bean>
	 -->
	
	<bean id="pointA" class="us.gopinath.Point" >
		<qualifier value="circleRelated"/>
		<property name="x" value="${pointA.pointX}"></property>
		<property name="y" value="${pointA.pointX}"></property>
	</bean>

	<bean id="pointB" class="us.gopinath.Point">
		<property name="x" value="-20"></property>
		<property name="y" value="0"></property>
	</bean>
	<bean id="pointC" class="us.gopinath.Point">
		<property name="x" value="20"></property>
		<property name="y" value="0"></property>
	</bean>
	
	
	
	<!--  
	<bean class="us.gopinath.DisplayNameBeanPostProcessor">
	
	</bean>
	<bean class="us.gopinath.MyBeanFactoryPostProcessor"></bean>
	-->
	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="pointsconfig.properties"></property>
	</bean>


	<!--
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"></bean>

	 
	<bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"></bean>
 	
 	instead of all seperate annotations we can use <context:annotation-config/>
 	
 	-->
 	
 	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
 		<property name="basenames" >
 			<list>
 				<value>mymessages</value>
 			</list>
 		</property>
 	</bean>
 	
 	<context:annotation-config/>
 	
 	<context:component-scan base-package="us.gopinath"></context:component-scan>
	
</beans>